@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

header{
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  color: white;
  background-color: black;
}

.logo{
  text-align: center;
  color: white;
  width: 15em;
  margin-top: 1.7em;
}

.puzzle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: 70px;
}

/* puzzle */
.gallery {
  --s: 200px; /* control the size */
  --g: 6px;   /* control the gap */
  --r: 42px;  /* control the circular shapes */
  background-color: transparent;
  display: grid;
  gap: var(--g);
  grid: auto-flow var(--s)/repeat(5,var(--s));
  margin-bottom: 4.9px;
}

.gallery > a{
  filter: grayscale(100);
  transition: .5s;
}

.gallery > a:hover{
  filter: grayscale(0);
    transform: scale(1.3);
    z-index: 1;
}

.gallery > a, .rij1_1, .rij1_2, .rij1_4 {
  --_m: var(--rg3);
  object-fit: cover;
  -webkit-mask: var(--_m);
          mask: var(--_m);
         
}
.gallery > a > .rij1_1 {
  height: calc(100% + var(--r));
  --_m: 
    radial-gradient(calc(var(--r) + var(--g)) at calc(100% + var(--g)) 50%,#0000 95%,#000) 
      top/100% calc(100% - var(--r)) no-repeat
    
}
.gallery >  a > .rij1_2 {
  height: 100%;
  width: calc(100% + var(--r));
  place-self: end;
  --_m: 
    radial-gradient(calc(var(--r) + var(--g)) at 103% calc(61% - var(--r)/2),#0000 95%,#000) 
      right/calc(100% - var(--r)) 100% no-repeat, 
    radial-gradient(var(--r) at top 50% left var(--r),#000 95%,#0000);
    
}
.gallery >  a > .rij1_3 {
  --_m: radial-gradient(calc(var(--r) + var(--g)) at 50% calc(0% - var(--g)),#0000 95%,#000) left/calc(100% - var(--r)) 100% no-repeat, radial-gradient(var(--r) at top 54% right var(--r),#000 95%,#0000);
    transform: rotate(180deg);
    margin-left: -2.4em;
}
.gallery > a > .rij1_4 {
  height: 100%;
  width: calc(100% + var(--r));
  place-self: end;
  --_m: radial-gradient(calc(var(--r) + var(--g)) at 124% calc(116% - var(--r)/2),#0000 95%,#000)
   right/calc(100% - var(--r)) 100% no-repeat, radial-gradient(var(--r) at 
   top 50% left var(--r),#000 95%,#0000)
}
footer{
  color: white;
  text-align: center;
  padding: 2em 0em;
  font-size: 17px;
}
@media screen and (max-width: 860px) {
  .gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
  }
  .gallery > a > .rij1_1{
    height: 100%;
    width: calc(100% + var(--r));
    place-self: end;
    --_m: 
      radial-gradient(calc(var(--r) + var(--g)) at 103% calc(61% - var(--r)/2),#0000 95%,#000) 
        right/calc(100% - var(--r)) 100% no-repeat, 
      radial-gradient(var(--r) at top 50% left var(--r),#000 95%,#0000);
      margin-left: -2em;
  }
  .gallery > a > .rij1_2{
    margin-left: -2em;
  }
  .gallery > a > .rij1_4{
    height: 100%;
    width: calc(100% + var(--r));
    place-self: end;
    --_m: 
      radial-gradient(calc(var(--r) + var(--g)) at 103% calc(61% - var(--r)/2),#0000 95%,#000) 
        right/calc(100% - var(--r)) 100% no-repeat, 
      radial-gradient(var(--r) at top 50% left var(--r),#000 95%,#0000);
      margin-left: -2em;
  }
  }
  @media only screen and (max-width: 480px){
    header p, footer{
      padding: 0em 3em;
    }
    .gallery > a > .rij1_1{
      height: 100%;
      width: calc(70% + var(--r));
      place-self: end;
      --_m: 
        radial-gradient(calc(var(--r) + var(--g)) at 103% calc(61% - var(--r)/2),#0000 95%,#000) 
          right/calc(100% - var(--r)) 100% no-repeat, 
        radial-gradient(var(--r) at top 50% left var(--r),#000 95%,#0000);
        margin-left: 1em;
    }
    .gallery > a > .rij1_2{
      height: 100%;
      width: calc(70% + var(--r));
      margin-left: 1em;
    }
    .gallery > a > .rij1_4{
      height: 100%;
      width: calc(70% + var(--r));
      place-self: end;
      --_m: 
        radial-gradient(calc(var(--r) + var(--g)) at 103% calc(61% - var(--r)/2),#0000 95%,#000) 
          right/calc(100% - var(--r)) 100% no-repeat, 
        radial-gradient(var(--r) at top 50% left var(--r),#000 95%,#0000);
        margin-left: 1em;
    }
  }
